<template>
  <div>
    <div class="popover-wrapper">
      <div
        v-click-outside="hide"
        @click="toggle"
      >
        <slot name="activator" />
      </div>
      <div
        :class="`
          popover-content
          ${opened ? 'is-active' : ''}
          ${direction}
        `"
      >
        <slot name="container" />
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';

export default {
  name: 'Popover',
  directives: {
    ClickOutside,
  },
  props: {
    direction: {
      type: String,
      default: 'right',
    },
  },
  data() {
    return {
      opened: false,
    };
  },
  watch: {
    opened(value) {
      if (!value) {
        this.$emit('onClose');
      }
    },
  },
  mounted() {
    this.popupItem = this.$el;
  },
  methods: {
    toggle() {
      this.opened = true;
    },

    hide() {
      this.opened = false;
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .popover-wrapper
    display: inline-block
    position: relative

    .popover-content
      opacity: 0
      position: absolute
      +scale(0)
      @include transition(transform 250ms)
      z-index: 9999
      top: 0
      &.right
        right: 0
        @include transform-origin(100% 0)
      &.left
        left: 0
        @include transform-origin(0 0)
      &.top
        top: 0
        transform: translateY(-100%) scale(1) !important
        @include transform-origin(left bottom)

      &.is-active
        display: block
        opacity: 1
        +scale(1)
</style>
