<template>
  <div>
    <div
      :class="`label text-white bg-${color}`"
      @click="onClick"
    >
      <slot />
      <a
        class="button button-clear"
        href="#"
        aria-label="Close"
        role="button"
        @click.prevent="onClose"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tag',
  props: {
    color: {
      type: String,
      default: 'indigo',
    },
  },
  methods: {
    onClick() {
      this.$emit('handleClick');
    },

    onClose() {
      this.$emit('handleClick');
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .label
    border-radius: 16px
    font-size: 14px
    padding: 4px 16px

  .button.button-clear
    margin-top: 0
    margin-left: 0
    border-radius: 50%
    &:before
      position: relative
      top: 2px
</style>
