// =============================================================================
// General
// =============================================================================
a
  text-decoration: none

body
  font-family: $body-font-family

textarea
  resize: vertical

button
  outline: 0

.container
  padding-top: 56px
  padding-bottom: 56px

.button:focus
  box-shadow: none

.is-flex
  display: flex

.is-pointer
  cursor: pointer

.has-items-center
  align-items: center

.has-justify-center
  justify-content: center

.has-items-end
  justify-content: flex-end

.has-overflow-scroll
  overflow: scroll

.has-overflow-hidden
  overflow: hidden

.has-overflow-auto
  overflow: auto

.has-overflow-visible
  overflow: visible

.has-full-width
  width: 100%

.nowrap
  -webkit-flex-wrap: nowrap !important
  flex-wrap: nowrap !important

.has-margin-auto
  margin: 0 auto

.has-hover
  cursor: pointer
  &:hover
    color: $color-indigo

.has-ellipsis
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

@each $color, $object in $colors
  .#{'bg-' + $color}
    background-color: map-get($object, base)

  .#{'border-' + $color}
    border-color: map-get($object, base)

  .#{'text-' + $color}
    color: map-get($object, base)

  .#{'text-' + $color + '-invert'}
    color: map-get($object, invert)

  .#{'shadow-' + $color}
    box-shadow: 0 6px 20px 0 map-get($object, shadow)

.menu
  box-shadow: none
  background: none
  border-radius: 0
  padding: 0 !important
  transform: none
  padding: 32px
  max-height: 400px
  overflow-y: scroll
  min-width: 225px
  font-size: 14px
  color: $color-grey
  .menu-title
    font-weight: bold
    padding: 24px 8px
    text-align: center
  .menu-item
    padding: 0
  .menu-item > a:focus,
  .menu-item > a:hover
    background: #EDF2FF
    color: $color-indigo
  .menu-item > a
    padding: 1rem 2rem
    margin: 0

.title-menu
  font-size: 14px
  font-weight: bold
  padding: 24px 8px
  text-align: center
  color: $color-grey
  position: relative

.back-menu
  position: absolute
  left: 0px
  top: 0px
  padding: 20px
  cursor: pointer
  &:hover
    opacity: .75

.tooltip::after
  background: #6F6F70
  padding: 0.4rem 0.8rem
  border-radius: 0.25rem
  font-size: 12px
  line-height: 14px