// =============================================================================
// Material Inputs
// =============================================================================
  $font-size-base: 14px
  $font-size-small: 12px

  $spacer: 5px
  $transition: 0.2s ease all

  %base-bar-pseudo
    content: ''
    height: 2px
    width: 0
    bottom: 0
    position: absolute
    transition: $transition

  @mixin slided-top()
    top: -3 * $spacer
    font-size: $font-size-small

  .material-input__component
    position: relative

    .material-input
      font-size: $font-size-base
      padding: 5px 10px 12px 10px
      display: block
      border: none
      border-radius: 0
      width: 100%

      &:focus
        outline: none

    .material-label
      font-size: $font-size-base
      position: absolute
      pointer-events: none
      left: 8px
      top: $spacer
      transition: $transition

    .material-input-bar
      position: relative
      display: block
      width: 100%

      &:before
        @extend %base-bar-pseudo
        left: 50%

      &:after
        @extend %base-bar-pseudo;
        right: 50%

    &.material--disabled
      .material-input
        border-color: $color-light-grey
        border-bottom-style: dashed

    &.material--raised
      .material-label
        @include slided-top()

    &.material--active
      .material-input-bar
        &:before,
        &:after
          width: 50%

    .material-help
      color: $color-blue-grey
      font-size: $font-size-small
      padding: 5px 10px

    .material-errors
      position: relative
      overflow: hidden
      padding: 5px 10px

      .material-error
        font-size: $font-size-small
        line-height: $font-size-small + 2px
        overflow: hidden
        margin-top: 0
        padding-top: $spacer / 2
        padding-right: $spacer / 2
        padding-left: 0

  .material-input__component
    .material-input
      background: none
      color: $color-grey
      border-bottom: 1px solid $color-grey

    .material-label
      color: $color-blue-grey

    .material-input-bar
      &:before,
      &:after
        background: $color-blue

    &.material--active
      .material-label
        color: $color-blue

    &.material--has-errors
      &.material--active .material-label
        color: $color-red

      .material-input-bar
        &:before,
        &:after
          background: $color-red

      .material-errors
        color: $color-red