.modal-mask
  position: fixed
  z-index: 9998
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .4)
  display: table

.modal-wrapper
  display: table-cell
  vertical-align: middle

.modal-content
  margin: 0px auto

.modal-enter-active, .modal-leave-active
  transition: all 250ms
  opacity: 1

.modal-enter,
.modal-leave-to
  opacity: 0

.modal-enter,
.modal-leave-active
  -webkit-transform: scale(1.1)
  transform: scale(1.1)