// =============================================================================
// SIZES
// =============================================================================
$sizes: 8, 14, 16, 24, 32, 46, 48, 54, 64

@each $size, $object in $sizes
  .#{'ma-' + $size}
    margin: #{$size + 'px'}
  .#{'mt-' + $size}
    margin-top: #{$size + 'px'}
  .#{'mb-' + $size}
    margin-bottom: #{$size + 'px'}
  .#{'mr-' + $size}
    margin-right: #{$size + 'px'}
  .#{'ml-' + $size}
    margin-left: #{$size + 'px'}
