.toasted-container
  .toasted
    border: 0 !important
    border-radius: 10px !important
    color: white !important
    font-size: 14px !important
    line-height: 0 !important
    font-weight: normal !important
    min-width: 344px !important
    padding: 16px !important
    &.success
      background: $color-green
      box-shadow: 0 6px 20px 0 rgba(100,197,116,0.4)
    &.info
      background: $color-blue
      box-shadow: 0 6px 20px 0 rgba(108,149,251,0.4)
    &.error
      background: $color-red
      box-shadow: 0 6px 20px 0 rgba(252,105,120,0.4)
    .action 
      color: white !important
