h1,
.h1
  font-size: 48px

h2,
.h2
  font-size: 40px

h3,
.h3
  font-size: 32px

h4,
.h4
  font-size: 28px

h5,
.h5
  font-size: 24px

h6,
.h6
  font-size: 20px

.font-12
  font-size: 12px

.font-13
  font-size: 13px

.font-14
  font-size: 14px

.heading
  color: $color-dark-grey
  font-weight: 800
  font-size: 24px

.subheading
  font-size: 18px !important
  font-weight: 900

.text-bold
  font-weight: bold
