<template>
  <div>
    <div
      v-if="show"
      :class="`card-notify text-white bg-${color} shadow-${color}`"
    >
      <div
        v-if="hasIcon"
        class="icon"
      >
        <slot name="icon" />
      </div>
      <slot name="label" />
      <div
        v-if="close"
        class="button button-clear"
        role="button"
        @click="onClose"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Advise',
  props: {
    visible: {
      type: Boolean,
      default: false,
    },

    color: {
      type: String,
      default: 'indigo',
    },

    close: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    show: {
      get() {
        return this.visible;
      },
      set() {
        this.onClose();
      },
    },

    hasIcon() {
      return !!this.$slots.icon;
    },
  },
  methods: {
    onClose(event) {
      this.$emit('handleClose', event);
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .card-notify
    padding: 16px 24px
    border-radius: 10px
    font-size: 14px
    display: flex
    align-items: center
    .icon
      padding-right: 16px
    .button-clear
      margin-left: 16px
      margin-top: 6px
      border-radius: 50%
      &:before
        position: relative
        top: 2px
    &.bg-white
      color: $color-grey
      a
        color: $color-grey !important
      .icon
        color: $color-indigo
    a
      color: white !important

</style>
