<template>
  <transition name="modal">
    <div
      v-if="show"
      class="modal-mask"
    >
      <div class="modal-wrapper">
        <card-wrapper
          class="modal-content"
          style="width: 280px"
        >
          <feather
            :type="icon"
            class="text-indigo has-margin-auto mb-24 mt-54"
            size="42"
          />

          <div class="subheading text-center text-dark-grey mb-16">
            {{ title }}
          </div>

          <div class="font-14 text-grey mb-24 text-center">
            {{ subtitle }}
          </div>

          <slot name="footer" />
        </card-wrapper>
      </div>
    </div>
  </transition>
</template>

<script>
import CardWrapper from '../card/Wrapper';

export default {
  name: 'Alert',
  components: {
    CardWrapper,
  },
  props: {
    icon: {
      type: String,
      default: '',
    },

    title: {
      type: String,
      default: '',
    },

    subtitle: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      visible: false,
      scrollPosition: null,
    };
  },
  computed: {
    show: {
      get() {
        return this.visible;
      },
      set() {
        this.onClose();
      },
    },
  },
  watch: {
    visible(value) {
      if (value) {
        this.scrollPosition = window.scrollY;
        document.body.style.top = `-${this.scrollPosition}px`;
        document.body.style.position = 'fixed';
        document.getElementsByTagName('HTML')[0].style.overflow = 'hidden';
        document.body.style.right = '8px';
      } else {
        document.body.removeAttribute('style');
        document.getElementsByTagName('HTML')[0].removeAttribute('style');
        window.scrollTo(0, this.scrollPosition);
      }
    },
  },
  methods: {
    onClose(event) {
      this.$emit('handleClose', event);
    },
  },
};
</script>
