<template>
  <div>
    <button @click="m('success')">
      Success
    </button>
    <button @click="m('error')">
      Danger
    </button>
    <button @click="m('info')">
      Info
    </button>
  </div>
</template>

<script>
import Vue from 'vue';
import VueToasted from 'vue-toasted';

Vue.use(VueToasted, {
  position: 'bottom-center',
  time: 400,
  duration: 5000,
  theme: 'outline',
  action: {
    text: 'Dismiss',
    onClick: (e, toastObject) => {
      toastObject.goAway(0);
    },
  },
});

export default {
  name: 'Toasted',
  methods: {
    m(type) {
      if (type === 'success') this.$toasted.success('Message of toasted!!');
      if (type === 'error') this.$toasted.error('Message of toasted!!');
      if (type === 'info') this.$toasted.info('Message of toasted!!');
    },
  },
};
</script>
