<template>
  <div>
    <button
      v-ripple="getColor"
      :class="`
        button
        button-action s-circle
        ${outlined ? `is-outlined bg-white text-${color}` : `bg-${color} text-white`}
        ${isHover && shadow ? `shadow-${color}` : ''}
        ${disabled ? 'disabled' : ''}
      `"
      @click="onClick"
      @mouseenter="isHover = true"
      @mouseleave="isHover = false"
    >
      <div
        v-if="loading"
        :class="`loading bg-white text-white is-${color}`"
      />
      <i
        v-if="!loading"
        :class="`icon ${textColor ? `text-${textColor}` : ''}`"
      >
        <slot />
      </i>
    </button>
  </div>
</template>

<script>
import Ripple from 'vue-ripple-directive';

export default {
  name: 'ButtonFab',
  directives: {
    Ripple,
  },
  props: {
    color: {
      type: String,
      default: 'white',
    },

    textColor: {
      type: String,
      default: null,
    },

    loading: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    shadow: {
      type: Boolean,
      default: true,
    },

    outlined: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isHover: false,
    };
  },
  computed: {
    getColor() {
      return 'rgba(255,255,255,0.2)';
    },
  },
  methods: {
    onClick(event) {
      this.$emit('handleClick', event);
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $speedLoading: 900ms

  .button
    border-width: 0
    height: 40px
    width: 40px
    &.bg-null
      background: none
    i
      margin-top: 5px
      height: 20px
    &:hover
      opacity: .85
    &.disabled
      opacity: .7
      pointer-events: none

    .loading
      &:after
        @include animation(loading $speedLoading infinite linear)
        border: 0.1rem solid white
        border-right-color: transparent
        border-top-color: transparent

    .loading
      background: none
      position: relative
      top: -2px
      left: -2px
    &:after
      border: 0.1rem solid white
      border-right-color: transparent
      border-top-color: transparent

    &.bg-white:not(.is-outlined)
      color: $color-grey
      .loading
        &:after
          border-color: $color-grey
          border-right-color: transparent
          border-top-color: transparent

</style>
