<template>
  <div>
    <button
      :class="`
        ${active ? 'is-active' : ''}
        ${disabled ? 'disabled' : ''}
      `"
      @click="onClick"
    >
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: 'ButtonItem',
  props: {
    active: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onClick(event) {
      if (!this.disabled) {
        this.$emit('handleClick', event);
      }
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  button
    font-size: 14px
    line-height: 17px
    padding: 3px 14px
    height: auto
    box-shadow: none
    border: 0
    border-left-width: 2px
    border-style: solid
    border-color: transparent
    cursor: pointer
    background: none
    color: $color-blue-grey
    white-space: nowrap
    &.is-active
      border-color: $color-indigo
      color: $color-indigo
    &:hover:not(.is-active)
      border: 0
      border-left-width: 2px
      border-style: solid
      border-color: $color-blue-grey
      background: none
      opacity: .85

</style>
