<template>
  <div>
    <button
      :class="`
        button button-link text-${color}
        ${disabled ? 'disabled' : ''}
      `"
      @click="onClick"
    >
      <span
        v-if="loading"
        :class="`loading is-${color}`"
      />
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: 'ButtonLink',
  props: {
    color: {
      type: String,
      default: 'white',
    },

    loading: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    getColor() {
      return 'rgba(255,255,255,0.2)';
    },
  },
  methods: {
    onClick(event) {
      this.$emit('handleClick', event);
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $speedLoading: 900ms

  .button
    font-size: 13px
    line-height: 17px
    text-align: center
    height: auto
    border: none
    box-shadow: none
    padding: 0
    font-weight: 800
    text-transform: uppercase
    cursor: pointer
    &:hover
      opacity: .85
    &.disabled
      opacity: .7
      pointer-events: none

    .loading
      margin-right: 14px
      top: -2px
      &:after
        animation: loading $speedLoading infinite linear
        border: 0.15rem solid white
        border-right-color: transparent
        border-top-color: transparent
        height: 14px
        width: 14px

  @each $color, $object in $colors
    .button
      &.#{'text-' + $color}:hover
        color: map-get($object, base)

</style>
