<template>
  <div>
    <button
      v-ripple="getColor"
      :class="
        `
        button bg-${color} is-${color} text-bold text-uppercase
        ${isHover && shadow ? `shadow-${color}` : ''}
        ${disabled ? 'disabled' : ''}
        ${outlined ? `is-outlined border-${color} text-${color}` : 'text-white'}
        d-inline-flex
      `
      "
      @click="onClick"
      @mouseenter="isHover = true"
      @mouseleave="isHover = false"
    >
      <slot name="icon" />
      <slot name="label" />
      <div
        v-if="loading"
        :class="`loading is-${color}`"
      />
    </button>
  </div>
</template>

<script>
import Ripple from 'vue-ripple-directive';

export default {
  name: 'ButtonPrimary',
  directives: {
    Ripple,
  },
  props: {
    color: {
      type: String,
      default: 'indigo',
    },

    loading: {
      type: Boolean,
      default: false,
    },

    outlined: {
      type: Boolean,
      default: false,
    },

    shadow: {
      type: Boolean,
      default: true,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isHover: false,
    };
  },
  computed: {
    getColor() {
      return 'rgba(255,255,255,0.2)';
    },
  },
  methods: {
    onClick(event) {
      this.$emit('handleClick', event);
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $speedLoading: 900ms

  .button
    font-size: 13px
    line-height: 18px
    text-align: center
    border-radius: 20px
    padding: 10px 32px
    height: 40px
    border-width: 0
    @include transition(box-shadow 0.3s ease-in-out)
    cursor: pointer
    &:hover
      opacity: .85
    &.disabled
      opacity: .7
      pointer-events: none

    .loading
      margin-left: 12px
      &:after
        @include animation(loading $speedLoading infinite linear)
        border: 0.1rem solid white
        border-right-color: transparent
        border-top-color: transparent

    i
      height: 21px
      position: relative
      top: -2px
      left: -14px

    &.is-outlined
      border-width: 2px
      border-style: solid
      background: white

    &.is-white,
    &.is-light-grey-1
      color: $color-grey
      .loading
        &:after
          border-color: $color-grey
          border-right-color: transparent
          border-top-color: transparent
</style>
