<template>
  <div>
    <button
      :class="`
        button
        button-action
        bg-${color} text-white
        ${isHover ? `shadow-${color}` : ''}
        ${isActive ? 'is-active': ''}
        ${hasValue ? 'has-value': ''}
        ${disabled ? 'disabled' : ''}
      `"
      @click="onClick"
      @mouseenter="isHover = true"
      @mouseleave="isHover = false"
    >
      <feather
        class="icon-left"
        type="search"
      />
      <input
        ref="input"
        v-model="valueCopy"
        type="text"
        :disabled="disabled"
        @keyup="onValue(valueCopy, $event)"
        @blur="onBlur"
      >
      <feather
        v-if="!loading"
        class="icon-right"
        type="x"
        @click="onClickClear"
      />
      <div
        v-if="loading && !disabled"
        :class="`icon-right loading is-${color}`"
      />
    </button>
  </div>
</template>

<script>
export default {
  name: 'ButtonSearch',
  props: {
    value: {
      type: String,
      default: null,
    },

    color: {
      type: String,
      default: 'white',
    },

    loading: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      valueCopy: null,
      isActive: false,
      hasValue: false,
      isHover: false,
    };
  },
  watch: {
    isActive: {
      handler(val) {
        if (val) {
          this.$refs.input.focus();
        }
      },
    },

    valueCopy: {
      handler(val, oldVal) {
        if (val !== oldVal) {
          this.hasValue = !!val;
        }
      },
    },

    value(newValue) {
      this.copyValue(newValue);
    },
  },
  beforeMount() {
    if (this.value) {
      this.copyValue(this.value);
      this.isActive = true;
    }
  },
  methods: {
    copyValue(value) {
      this.valueCopy = value;
    },

    onBlur() {
      if (!this.valueCopy) {
        this.isActive = false;
      }
    },

    onValue(value, e) {
      if (value && e && e.keyCode === 13) {
        this.$emit('handlerValue', value);
      }
    },

    onClear(event) {
      this.valueCopy = '';
      this.$emit('handlerValue', '');
      this.$emit('handlerClear', event);
    },

    onClick(event) {
      this.isActive ? null : this.isActive = true;
      this.$emit('handlerClick', event);
    },

    onClickClear() {
      this.onClear();
      this.$refs.input.focus();
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $speedLoading: 900ms

  .button
    position: relative
    border-width: 0
    height: 40px
    width: 40px
    overflow: hidden
    border-radius: 20px
    -webkit-transition: width 250ms ease
    -moz-transition: width 250ms ease
    -o-transition: width 250ms ease
    transition: width 250ms ease

    .icon-right
      display: none
      position: absolute
      right: 10px
      top: 10px
      height: 20px
      transform: scale(0)
      cursor: pointer
      -webkit-animation: crescendo 250ms ease-in
      animation: crescendo 250ms ease-in

    &.is-active
      width: 240px
      cursor: auto

      input
        margin-left: 0

    &.has-value
      .icon-right
        display: block
        -webkit-transform: scale(1)
        -ms-transform: scale(1)
        transform: scale(1)

    .icon-left
      height: 20px
      left: 10px
      position: absolute
      top: 10px

    input
      background: none
      border: 0
      outline: none
      color: white
      width: 170px
      font-size: 14px
      margin-left: 40px

    &.bg-white:not(.is-outlined)
      color: $color-grey
      input
        color: $color-grey

    .loading
      margin-right: 12px
      -webkit-transform: scale(1)
      -ms-transform: scale(1)
      transform: scale(1)
      &:after
        -webkit-animation: loading $speedLoading infinite linear
        animation: loading $speedLoading infinite linear
        border: 0.1rem solid white
        border-right-color: transparent
        border-top-color: transparent

      &.is-white,
      &.is-light-grey-1
        color: $color-grey
        .loading
        &:after
          border-color: $color-grey
          border-right-color: transparent
          border-top-color: transparent


  @-webkit-keyframes crescendo
    0%
      transform: scale(0)
    90%
      transform: scale(1.1)
    100%
      transform: scale(1)

  @keyframes crescendo
      0%
        transform: scale(0)
      90%
        transform: scale(1.1)
      100%
        transform: scale(1)
</style>
