<template>
  <div>
    <div
      class="checkbox-container"
      :class="[computedClasses]"
    >
      <div
        class="checkbox-group"
        :class="checkboxState ? `bg-${color} border-${color}` : ''"
        @click="toggle()"
      >
        <div
          class="checkbox-content"
        >
          <input
            :id="id || uniqueId"
            type="checkbox"
            :value="value"
            :disabled="disabled"
            :checked="checkboxState"
          >
        </div>
      </div>
      <label
        class="checkbox_label"
        :for="id || uniqueId"
      >
        <slot />
      </label>
    </div>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'model',
    event: 'handleChange',
  },
  props: {
    id: {
      type: String,
      default: null,
    },

    model: {
      type: [String, Array],
      default: undefined,
    },

    checked: {
      type: Boolean,
      default: false,
    },

    value: {
      type: String,
      default: null,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    color: {
      type: String,
      default: 'indigo',
    },
  },
  data() {
    return {
      uniqueId: '',
    };
  },
  computed: {
    checkboxState() {
      if (this.model === undefined) {
        return this.checked;
      }

      if (Array.isArray(this.model)) {
        return this.model.indexOf(this.value) !== -1;
      }

      return this.model ? this.model : false;
    },

    computedClasses() {
      return {
        'checkbox-disabled': this.disabled,
        'checkbox-active': this.checkboxState,
      };
    },
  },
  watch: {
    checked(newVal) {
      if (newVal !== this.checkboxState) {
        this.toggle();
      }
    },
  },
  mounted() {
    this.genId();
    if (this.checked && !this.checkboxState) {
      this.toggle();
    }
  },
  methods: {
    toggle() {
      if (this.disabled) return;

      let value = this.model;

      if (Array.isArray(value)) {
        value = value.slice();
        const i = value.indexOf(this.value);

        if (i === -1) {
          value.push(this.value);
        } else {
          value.splice(i, 1);
        }
      } else {
        value = !this.checkboxState;
      }

      this.$emit('handleChange', value);
    },

    genId() {
      if (this.id === undefined || typeof String) {
        this.uniqueId = `m-checkbox--${Math.random().toString(36).substring(2, 10)}`;
      } else {
        this.uniqueId = this.id;
      }
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $size: 15px
  $transition: .4s cubic-bezier(.25, .8, .25, 1)
  $translate: translate(-50%, -50%)

  .checkbox-container
    display: inline-flex
    position: relative
    cursor: pointer

    .checkbox_label
      position: relative
      padding-left: 16px
      cursor: pointer
      color: $color-dark-grey

    .checkbox-group
      position: relative
      border-radius: 2px
      color: $color-light-grey
      border-width: 2px
      border-style: solid
      height: $size
      width: $size
      min-width: $size
      @include transition($transition)

      .checkbox-content
        position: absolute
        width: 34px
        height: 34px
        top: 50%
        left: 50%
        @include transform($translate)
        border-radius: 50%
        z-index: 1

      input[type=checkbox]
        position: absolute
        -webkit-appearance: none
        appearance: none
        left: -999rem

      &:after
        box-sizing: inherit
        content: ''
        position: absolute
        @include transition(transform .25s ease)
        @include transform(rotate(45deg) scale3D(.1, .1, .1))
        width: 4px
        height: 10px
        top: 0
        left: 5px
        z-index: 6
        border: 2px solid white
        border-top: 0
        border-left: 0
        opacity: 0

    &.checkbox-active
      .checkbox-group
        &:after
          opacity: 1
          @include transform(rotate(45deg) scale3d(1,1,1))

  .checkbox-disabled
    cursor: not-allowed
    .checkbox-group
      opacity: .14
    .checkbox_label
      opacity: .24
      cursor: not-allowed
</style>
