<template>
  <div>
    <div
      :class="`
        chip bg-${color} is-${color}
        ${shadow ? `shadow-${color}` : ''}
        has-align-items
      `"
      @click.prevent="onClick"
    >
      <slot
        name="icon"
        class="icon"
      />
      <span>
        <slot name="label" />
      </span>

      <div
        v-if="close"
        :class="`button-close is-${color}`"
        @click.stop="onClose"
      >
        <feather
          type="x-circle"
          size="18"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Chip',
  props: {
    color: {
      type: String,
      default: 'light-grey-1',
    },

    shadow: {
      type: Boolean,
      default: false,
    },

    close: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onClick() {
      this.$emit('handleClick');
    },

    onClose() {
      this.$emit('handleClose');
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .chip
    font-size: 14px
    height: 32px
    color: white
    cursor: pointer
    max-width: initial
    padding: 0.1rem 0.6rem
    &:hover
      opacity: .8
    &.is-light-grey-1
      color: $color-grey
    span
      margin-right: 6px
      margin-left: 6px
    i
      position: relative
      top: .136em
      left: .136em
    .button-close
      &:hover
        opacity: .8
      &:before
        vertical-align: -50%
        line-height: 14px
</style>
