<template>
  <div
    class="material-input__component"
    :class="computedClasses"
    style="min-width: 300px"
  >
    <label class="material-label">
      {{ label }}
    </label>

    <v-select
      v-model="selected"
      :options="options"
      :reduce="options => options.code"
      :searchable="searchable"
      :multiple="multiple"
      :disabled="disabled"
      :clearable="false"
      @input="handleInput"
      @search:focus="handleFocus(true)"
      @search:blur="handleFocus(false)"
    />
    <span class="material-input-bar" />

    <div
      v-if="errorMessages"
      class="material-errors"
    >
      <div
        v-for="error in computedErrors"
        class="material-error"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>
<script>
import vSelect from 'vue-select';

export default {
  name: 'FormSelect',
  components: {
    vSelect,
  },
  props: {
    label: {
      type: String,
      default: null,
    },

    options: {
      type: [Object, Array],
      default() {
        return [];
      },
    },

    searchable: {
      type: Boolean,
      default: false,
    },

    multiple: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    errorMessages: {
      type: [Array, String],
      default: null,
    },
  },
  data() {
    return {
      selected: '',
      focus: false,
    };
  },
  computed: {
    computedErrors() {
      return typeof this.errorMessages === 'string'
        ? [this.errorMessages]
        : this.errorMessages;
    },

    computedClasses() {
      return {
        'material--active': this.focus,
        'material--disabled': this.disabled,
        'material--raised': Boolean(
          this.selected
          || this.focus
          || this.valueCopy
            || (this.placeholder && !this.valueCopy),
        ),
        'material--has-errors': Boolean(
          this.errorMessages && this.errorMessages.length,
        ),
      };
    },
  },
  methods: {
    handleInput(value) {
      this.copyValue(value);
      this.$emit('handleInput', this.value);
    },

    handleFocus(focused) {
      this.focus = focused;
    },

    handleValidation() {
      this.valid = this.$el
        ? this.$el.querySelector('.vs__search').validity.valid
        : this.valid;
    },

    copyValue(value) {
      this.valueCopy = value;
      this.handleValidation();
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $font-14: 14px
  $font-12: 12px

  $spacer: 5px
  $transition: 0.2s ease all

  @mixin slided-top()
    top: -3 * $spacer
    font-size: $font-12

  %base-bar-pseudo
    content: ''
    height: 2px
    width: 0
    bottom: 0
    position: absolute
    -webkit-transition: $transition
    -o-transition: $transition
    transition: $transition

  >>> .vs__dropdown-toggle
    font-size: $font-14
    padding: 0
    border: none
    border-radius: 0
    width: 100%
    height: 100%
  >>> .v-select
    height: 36px
    border-bottom: 1px solid $color-grey
  >>> .vs__search
    border: none
  >>> .vs__selected
    color: $color-grey
    padding: 0
  >>> ul li, ol li
    margin: 0

  >>> .vs__dropdown-menu
    border-radius: 15px
    box-shadow: 0 8px 24px 0 rgba(64,73,98,0.08)
    border: none
    padding: 0
    overflow: hidden
    top: -25px
    animation: appear 200ms ease-in-out

    >>> .vs__dropdown-option
      padding: 20px
      color: $color-grey
      font-size: $font-14
      >>> &--highlight
        background: $color-light-grey-1

  >>> .vs--disabled .vs__dropdown-toggle,
  >>> .vs--disabled .vs__clear,
  >>> .vs--disabled .vs__search,
  >>> .vs--disabled .vs__selected,
  >>> .vs--disabled .vs__open-indicator
    background: none

  >>> .vs--searchable
    >>> .vs__dropdown-menu
      top: 37px

  >>> .vs__selected
    margin: 6px
    border: 0
    padding-bottom: 2px
    border-radius: 25px
    button
      margin-top: 2px
      margin-left: 6px
      margin-right: 6px

  @keyframes appear
    0%
      @include transform(scale(.7, .7))
      opacity: 0
    100%
      @include transform(scale(1, 1))
      opacity: 1

  .material-input__component
    position: relative

    .material-input
      font-size: $font-14
      padding: 5px 10px 12px 10px
      display: block
      border: none
      border-radius: 0
      width: 100%

      &:focus
        outline: none

    .material-label
      font-size: $font-14
      position: absolute
      pointer-events: none
      left: 8px
      top: $spacer
      transition: $transition

    .material-input-bar
      position: relative
      display: block
      width: 100%

      &:before
        @extend %base-bar-pseudo
        left: 50%

      &:after
        @extend %base-bar-pseudo;
        right: 50%

    &.material--active
      .material-input-bar
        &:before,
        &:after
          width: 50%

      .material-label
        color: $color-blue !important
      input
        border-color: $color-blue !important

      .material-input-bar
        &:before,
        &:after
          background: $color-blue

    &.material--disabled
      >>> .v-select
        border-color: $color-light-grey
        border-bottom-style: dashed

    &.material--raised
      .material-label
        @include slided-top()

    .material-errors
      position: relative
      overflow: hidden
      padding: 5px 10px

      .material-error
        font-size: $font-12
        line-height: $font-12 + 2px
        overflow: hidden
        margin-top: 0
        padding-top: $spacer / 2
        padding-right: $spacer / 2
        padding-left: 0

    &.material--has-errors
      .material-label
        color: $color-red

      .v-select
        border-color: $color-red

      .material-errors
        color: $color-red
</style>
