<template>
  <div>
    <toggle-button
      v-model="valueCopy"
      :value="value"
      :sync="true"
      :disabled="disabled"
      :labels="false"
      :width="36"
      :height="22"
      :class="`switch is-${color} is-${getStatus}`"
      @change="onChange"
    />

    <span
      v-if="labels"
      :Class="`text-${color} text-bold text-uppercase is-${getStatus}`"
      @click="valueCopy = !valueCopy"
    >
      {{ getLabel }}
    </span>
  </div>
</template>

<script>
import Vue from 'vue';
import ToggleButton from 'vue-js-toggle-button';

Vue.use(ToggleButton);

const contains = (object, title) => typeof object === 'object' && object.hasOwnProperty(title);

export default {
  name: 'FormSwitch',
  props: {
    labels: {
      type: [Boolean, Object],
      default: false,
      validator(value) {
        return typeof value === 'object'
          ? (value.checked || value.unchecked)
          : typeof value === 'boolean';
      },
    },

    value: {
      type: Boolean,
      default: false,
    },

    color: {
      type: String,
      default: 'white',
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      valueCopy: null,
    };
  },
  computed: {
    getStatus() {
      return this.valueCopy ? 'checked' : 'unchecked';
    },

    getLabel() {
      const state = this.getStatus;
      return contains(this.labels, state)
        ? this.labels[state]
        : '';
    },
  },
  watch: {
    value(newValue) {
      this.copyValue(newValue);
    },
  },
  beforeMount() {
    this.copyValue(this.value);
  },
  methods: {
    copyValue(value) {
      this.valueCopy = value;
    },

    onChange() {
      this.$emit('handleChange', this.valueCopy);
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  @each $color, $object in $colors
    .#{'is-' + $color}
      &.is-checked
        >>> .v-switch-core
          background-color: map-get($object, base) !important

  span
    position: relative
    top: 2px
    margin-left: 6px
    cursor: pointer
    font-size: 13px
    &.is-unchecked
      color: $color-light-grey
</style>
