<template>
  <div
    class="material-input__component"
    :class="computedClasses"
  >
    <label class="material-label">{{ label }}</label>

    <textarea
      v-model="valueCopy"
      :label="label"
      :placeholder="placeholder"
      :readonly="readonly"
      :required="required"
      :disabled="disabled"
      :minlength="minlength"
      :maxlength="maxlength"
      :rows="rows"
      class="material-input"
      @focus="handleFocus(true)"
      @blur="handleFocus(false)"
      @input="handleInput"
    />

    <span class="material-input-bar" />
    <div
      v-if="helpMessage && !errorMessages"
      class="material-help"
    >
      {{ helpMessage }}
    </div>

    <div
      v-if="errorMessages"
      class="material-errors"
    >
      <div
        v-for="(error, key) in computedErrors"
        :key="key"
        class="material-error"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormTextarea',
  props: {
    value: {
      default: null,
    },

    label: {
      type: String,
      default: null,
    },

    placeholder: {
      type: String,
      default: null,
    },

    required: {
      type: Boolean,
      default: false,
    },

    readonly: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    minlength: {
      type: Number,
      default: null,
    },

    maxlength: {
      type: Number,
      default: null,
    },

    rows: {
      type: Number,
      default: 3,
    },

    helpMessage: {
      type: String,
      default: null,
    },

    errorMessages: {
      type: [Array, String],
      default: null,
    },
  },
  data() {
    return {
      valueCopy: null,
      focus: false,
      valid: true,
    };
  },
  computed: {
    computedErrors() {
      return typeof this.errorMessages === 'string'
        ? [this.errorMessages]
        : this.errorMessages;
    },

    computedClasses() {
      return {
        'material-input': true,
        'material--active': this.focus,
        'material--disabled': this.disabled,
        'material--has-errors': Boolean(
          !this.valid || (this.errorMessages && this.errorMessages.length),
        ),
        'material--raised': Boolean(
          this.focus
          || this.valueCopy
          || (this.placeholder && !this.valueCopy),
        ),
      };
    },
  },
  watch: {
    value(newValue) {
      this.copyValue(newValue);
    },
  },
  beforeMount() {
    this.copyValue(this.value);
  },
  methods: {
    handleInput(event) {
      this.handleValidation();
      this.$emit('handleInput', event.target.value, event);
    },

    handleFocus(focused) {
      this.focus = focused;
    },

    handleValidation() {
      this.valid = this.$el
        ? this.$el.querySelector('.material-input').validity.valid
        : this.valid;
    },

    copyValue(value) {
      this.valueCopy = value;
      this.handleValidation();
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $font-14: 14px
  $font-12: 12px

  $spacer: 5px
  $transition: 0.2s ease all
  $transition-hint: .3s cubic-bezier(.4, 0, .2, 1)

  %base-bar-pseudo
    content: ''
    height: 2px
    width: 0
    bottom: 0
    position: absolute
    transition: $transition

  @mixin slided-top()
    top: -3 * $spacer
    font-size: $font-12

  .material-input__component
    position: relative

    .material-input
      font-size: $font-14
      padding: 5px 10px 12px 10px
      display: block
      border: none
      border-radius: 0
      width: 100%

      &:focus
        outline: none

    .material-label
      font-size: $font-14
      position: absolute
      pointer-events: none
      left: 8px
      top: $spacer
      transition: $transition

    .material-input-bar
      position: relative
      display: block
      width: calc(100% + 20px)

      &:before
        @extend %base-bar-pseudo
        left: 50%

      &:after
        @extend %base-bar-pseudo;
        right: 50%

    &.material--disabled
      .material-input
        border-color: $color-light-grey
        border-bottom-style: dashed

    &.material--raised
      .material-label
        @include slided-top()

    .material-help
      transition: $transition-hint
      visibility: hidden
      bottom: 10px
      position: relative
      opacity: 0
      padding: 5px 10px
      font-size: $font-12
      color: $color-blue-grey

    &.material--active
      .material-input-bar
        &:before,
        &:after
          width: 50%

      .material-help
        bottom: 0
        opacity: 1
        visibility: visible

    .material-errors
      position: relative
      overflow: hidden
      padding: 5px 10px

      .material-error
        font-size: $font-12
        line-height: $font-12 + 2px
        overflow: hidden
        margin-top: 0
        padding-top: $spacer / 2
        padding-right: $spacer / 2
        padding-left: 0

  .material-input__component
    .material-input
      background: none
      color: $color-grey
      border-bottom: 1px solid $color-grey

    .material-label
      color: $color-blue-grey

    .material-input-bar
      &:before,
      &:after
        background: $color-blue

    &.material--active
      .material-label
        color: $color-blue !important
      textarea
        border-color: $color-blue !important

      .material-input-bar
        &:before,
        &:after
          background: $color-blue

    &.material--has-errors
      .material-label
        color: $color-red

      textarea
        border-color: $color-red

      .material-errors
        color: $color-red
</style>
