<template>
  <div>
    <ul class="tab tab-block">
      <li
        v-for="option in options"
        :key="option.value"
        :class="`tab-item ${option.active ? 'active' : ''}`"
        @click="onClick(option)"
      >
        <span
          :class="`${hasBadge(option) ? 'badge': ''}`"
          :data-badge="option.badge"
        >
          {{ option.label }}
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'TabsHoritzontal',
  props: {
    options: {
      type: [Object, Array],
      default() {
        return {};
      },
    },
  },
  methods: {
    onClick(option) {
      this.$emit('handleClick', option.value);
    },

    hasBadge(option) {
      return typeof (option.badge) !== 'undefined' && option.badge !== null && option.badge !== 0;
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .tab
    margin: 0
    border: 0
    .tab-item
      padding: 20px 14px
      cursor: pointer
      font-size: 14px
      white-space: nowrap
      color: $color-grey
      border-bottom-width: 3px
      border-bottom-style: solid
      border-bottom-color: transparent
      margin-right: 6px
      &:last-child
        margin-right: 0
      &.active
        color: $color-indigo
        border-bottom-color: $color-indigo
      &:hover
        color: $color-indigo

      .badge[data-badge]
        &:after
          top: -10px
          right: -10px

      .badge
        &:after
          top: -10px
          right: -10px
          @include transform(scale(1))
          background: $color-red
          font-size: 12px
          font-weight: bold
          border-radius: 4px
          line-height: 13px
          padding: 1px 5px
          height: 15px
          box-shadow: none
</style>
