<template>
  <div
    :class="`card-item ${isEmpty ? 'is-empty' : ''}`"
    @click="onClick"
  >
    <div class="content-item">
      <div class="icon-item">
        <feather
          :type="icon"
          size="24"
        />
      </div>
      <p>{{ title }}</p>
      <span>{{ subtitle }}</span>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardItem',
  props: {
    icon: {
      type: String,
      default: 'plus',
    },

    title: {
      type: String,
      default: '',
    },

    subtitle: {
      type: String,
      default: '',
    },

    isEmpty: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onClick() {
      this.$emit('handleClick');
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .card-item
    position: relative
    border-radius: 15px
    background: white
    cursor: pointer
    text-align: center
    @include transition(all .3s ease-out)
    color: #495057
    width: 204px
    height: 204px
    margin: 12px
    display: table
    &:hover
      box-shadow: 0 6px 20px 0 rgba(64,73,98,0.08)
      @include transform(translateY(2px))

    .content-item
      display: table-cell
      vertical-align: middle
      .icon-item
        height: 48px
        width: 48px
        border-radius: 50%
        background-color: #EDF2FF
        color: $color-indigo
        margin: 0 auto
        display: table
        margin-bottom: 18px
        i
          display: table-cell
          vertical-align: middle
          padding-left: 11px
      p
        line-height: 24px
        font-size: 16px
        margin-bottom: 8px
        font-weight: bold

      span
        font-size: 14px
        line-height: 24px
    &.is-empty
      .icon-item
        background-color: white
        color: $color-blue-grey
      .content-item
        color: $color-blue-grey
</style>
