<template>
  <div
    :class="`card-item`"
    @click="onClick"
  >
    <div class="content-item">
      <feather
        :type="icon"
        size="48"
      />
      <p>{{ title }}</p>
      <span>{{ subtitle }}</span>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardSection',
  props: {
    icon: {
      type: String,
      default: 'plus',
    },

    title: {
      type: String,
      default: '',
    },

    subtitle: {
      type: String,
      default: '',
    },
  },
  methods: {
    onClick() {
      this.$emit('handleClick');
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .card-item
    padding: 40px
    position: relative
    border-radius: 15px
    background: white
    cursor: pointer
    text-align: center
    @include transition(all .3s ease-out)
    width: 260px
    height: 330px
    margin: 12px
    display: table
    &:hover
      box-shadow: 0 6px 20px 0 rgba(64,73,98,0.08)
      @include transform(translateY(2px))

    .content-item
      display: table-cell
      vertical-align: middle
      i
        color: $color-grey
        margin-bottom: 48px
      p
        color: $color-dark-grey
        font-size: 18px
        margin-bottom: 16px
        font-weight: 900
      span
        color: $color-grey
        font-size: 14px
        line-height: 24px
        margin-bottom: 24px
</style>
