<template>
  <div>
    <div
      :class="`
        card
        ${padding ? 'has-padding': ''}
        ${color ? `bg-${color}`: ''}
        ${shadow ? `shadow-${color}`: ''}
        ${overflow ? `has-overflow-${overflow}` : ''}
      `"
    >
      <div
        v-if="hasTitle"
        class="subheading text-dark-grey mb-24"
      >
        <slot name="title" />
      </div>
      <div
        v-if="hasSubtitle"
        class="text-grey mb-32"
      >
        <slot name="subtitle" />
      </div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardWrapper',
  props: {
    color: {
      type: String,
      default: 'white',
    },

    padding: {
      type: Boolean,
      default: true,
    },

    overflow: {
      type: String,
      default: null,
    },

    shadow: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    hasTitle() {
      return !!this.$slots.title;
    },

    hasSubtitle() {
      return !!this.$slots.subtitle;
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .card
    border-radius: 15px
    border: none
    position: relative
    &.has-padding
      padding: 40px
      @media (max-width: 600px)
        padding: 26px
</style>
