<template>
  <div>
    <div
      :class="`
        channel channel-${channel} bg-${getColor}
        ${type ? 'has-type' : ''}
      `"
    >
      <div class="icon">
        <component :is="channelComponent" />
      </div>
      <div
        v-if="channelType && type !== 'UNKNOWN'"
        class="icon__type bg-grey"
      >
        <feather
          :type="channelTypeIcon"
          size="14"
        />
      </div>
    </div>
  </div>
</template>

<script>
import AmazonAds from '../../svg/AmazonAds';
import BingAds from '../../svg/BingAds';
import GoogleAds from '../../svg/GoogleAds';
import GoogleShopping from '../../svg/GoogleShopping';
import FacebookAds from '../../svg/FacebookAds';

import Channel from '../../assets/data/channel.json';
import ChannelType from '../../assets/data/channelType.json';

export default {
  name: 'Channel',
  components: {
    AmazonAds,
    FacebookAds,
    BingAds,
    GoogleAds,
    GoogleShopping,
  },
  props: {
    channel: {
      type: String,
      default: '',
    },

    type: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      isHover: false,
    };
  },
  computed: {
    getColor() {
      return Channel.filter(channel => channel.code === this.channel)[0].color;
    },

    channelComponent() {
      return Channel.filter(channel => channel.code === this.channel)[0].component;
    },

    channelType() {
      return ChannelType.filter(channelType => channelType.code === this.type)[0];
    },

    channelTypeComponent() {
      return this.channelType.component;
    },

    channelTypeIcon() {
      return this.channelType.icon;
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $shadow-transition: box-shadow 0.3s ease-in
  $sm-size: 24px

  .channel
    position: relative
    width: $sm-size
    height: $sm-size
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    &.has-type
      margin-right: 17px
    .icon
      +scale(.6)
      margin-top: 1px
      &__type
        position: absolute
        left: 17px
        height: $sm-size
        width: $sm-size
        border-radius: 50%
        i
          color: white
          padding: 5px
</style>
