<template>
  <div class="docs-content">
    <div class="container">
      <br>
      <h4 class="text-dark-grey text-bold">
        Colors
      </h4>
    </div>
    <div class="columns col-gapless">
      <div
        v-for="(color, key) in colors"
        :key="key"
        class="column col-3 col-md-6 col-sm-12"
      >
        <div
          :class="
            `card-color bg-${color.name} text-${color.name}-invert shadow-${
              color.name
            }`
          "
        >
          <div class="hero hero-sm text-center">
            <h3 class="text-capitalize text-bold">
              {{ parseName(color.name) }}
            </h3>
            <span><kbd>{{ color.name }}</kbd></span>
            <span><kbd>base: {{ color.base }}</kbd></span>
            <span><kbd>invert: {{ color.invert }}</kbd></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Colors',
  computed: {
    colors() {
      const data = this.$store.state.colors;
      const { colors } = data;
      return Object.keys(colors).map(key => colors[key]);
    },
  },
  methods: {
    parseName(str) {
      return str.replace(/-/gi, ' ');
    },
  },
};
</script>

<style lang="sass" scoped>
  .card-color
    margin: 10px
    border-radius: 20px
    @include transition(all .2s ease-out)
    &:hover
      @include transform(translateY(2px))

  .docs-content
    flex: 1 1 auto
    padding: 0 2rem
</style>
