<template>
  <div>
    <iframe
      title="vue-feather"
      src="https://fengyuanchen.github.io/vue-feather/"
    />
  </div>
</template>

<script>
export default {
  name: 'Icons',
};
</script>

<style lang="sass" scoped>
iframe
  border: none
  width: 100%
  height: 900px
</style>
