<template>
  <div class="container docs-content">
    <br>
    <h4 class="text-dark-grey text-bold">
      Headings
    </h4>
    <div class="columns">
      <div class="column col-12">
        <h1>H1 Heading <small class="label">48px</small></h1>
      </div>
      <div class="column col-12">
        <h2>H2 Heading <small class="label">40px</small></h2>
      </div>
      <div class="column col-12">
        <h3>H3 Heading <small class="label">32px</small></h3>
      </div>
      <div class="column col-12">
        <h4>H4 Heading <small class="label">28px</small></h4>
      </div>
      <div class="column col-12">
        <h5>H5 Heading <small class="label">24px</small></h5>
      </div>
      <div class="column col-12">
        <h6>H6 Heading <small class="label">20px</small></h6>
      </div>
    </div>
    <br>
    <div class="divider text-center" />
    <br>
    <h4 class="text-dark-grey text-bold">
      Paragraphs
    </h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur
      <a href="#typography">adipiscing elit</a>. Praesent risus leo, dictum in
      vehicula sit amet, feugiat tempus tellus. Duis quis sodales risus. Etiam
      euismod ornare consequat.
    </p>
    <p>
      Climb leg rub face on everything give attitude nap all day for under the
      bed. Chase mice attack feet but rub face on everything hopped up on
      goofballs.
    </p>
    <br>
    <div class="divider text-center" />
    <br>
    <h4 class="text-dark-grey text-bold">
      Font
    </h4>
    <h2>Libre Franklin</h2>
    <div class="columns">
      <div class="column col-2">
        <span class="text-grey">Glyph</span>
        <h1>LF</h1>
      </div>
      <div class="column col-6">
        <span class="text-grey">Characters</span>
        <h4>
          A B C Č Ć D Đ E F G H I J K L M N O P Q R S Š T U V W X Y Z Ž a b c č
          ć d đ e f g h i j k l m n o p q r s š t u v w x y z ž 1 2 3 4 5 6 7 8
          9 0 ‘ ? ’ “ ! ” ( % ) [ # ] { @ } / & \ - + ÷ × = > ® © $ € £ ¥ ¢ :
          ; , . *
        </h4>
        <br>
        <span class="text-grey">Styles</span>
        <h4>Medium 400</h4>
        <h4 class="text-italic">
          Medium Italic 400
        </h4>
        <h4 class="text-bold">
          Bold 700
        </h4>
        <h4 class="text-bold text-italic">
          Bold Italic 700
        </h4>
      </div>
      <div class="column col-3">
        <span class="text-grey">Designer</span>
        <p>Impallari Type</p>
        <span class="text-grey">About</span>
        <p>
          Libre Franklin is an interpretation and expansion of the 1912 Morris
          Fuller Benton classic.
        </p>
        <p>
          The Libre Franklin project is led by Impallari Type, a type design
          foundry based in Rosario, Argentina. To contribute, see
          <a
            href="github.com/impallari/Libre-Franklin"
            target="_blank"
          >github.com/impallari/Libre-Franklin</a>
        </p>
      </div>
    </div>
    <br>
  </div>
</template>

<script>
export default {
  name: 'Typography',
};
</script>

<style lang="sass" scoped>
.docs-content
  flex: 1 1 auto
  padding: 0 2rem
</style>
