<template>
  <transition name="modalFull">
    <div
      v-if="show"
      class="modalFull-mask"
    >
      <div class="modalFull-wrapper">
        <div class="modalFull-container">
          <slot />
        </div>
        <button-fab
          color="white"
          text-color="dark-grey"
          shadow
          class="has-position-fixed"
          @handleClick="$emit('handleClose')"
        >
          <feather type="x" />
        </button-fab>
      </div>
    </div>
  </transition>
</template>

<script>
import ButtonFab from '../button/Fab';

export default {
  name: 'ModalFullScreen',
  components: {
    ButtonFab,
  },
  data() {
    return {
      visible: false,
      scrollPosition: null,
    };
  },
  computed: {
    show: {
      get() {
        return this.visible;
      },
      set() {
        this.onClose();
      },
    },
  },
  methods: {
    onClose(event) {
      this.$emit('handleClose', event);
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .has-position-fixed
    position: fixed
    right: 0
    top: 0
    margin: 10px
    z-index: 9999

  .modalFull-mask
    position: fixed
    z-index: 9998
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: table

  .modalFull-wrapper
    display: table-cell
    vertical-align: middle

  .modalFull-container
    padding: 20px 30px
    background-color: #F4F6FC
    height: 100vh

  .modalFull-enter-active, .modalFull-leave-active
    @include transition(all 200ms ease-out)
    @include transform(translateY(0%))

  .modalFull-enter,
  .modalFull-leave-to
    @include transform(translateY(100%))

  .modalFull-enter,
  .modalFull-leave-active
    @include transform(translateY(100%))
</style>
