<template>
  <transition name="modal">
    <div
      v-if="show"
      class="modal-mask"
    >
      <div class="modal-wrapper">
        <card-wrapper
          class="modal-content"
          :style="`max-width: ${maxWidth}px`"
        >
          <div class="subheading text-dark-grey mb-16">
            <slot name="header" />
          </div>

          <slot name="body" />

          <div class="is-flex has-items-end mt-16">
            <slot name="footer" />
          </div>
        </card-wrapper>
      </div>
    </div>
  </transition>
</template>

<script>
import CardWrapper from '../card/Wrapper';

export default {
  name: 'Modal',
  components: {
    CardWrapper,
  },
  props: {
    maxWidth: {
      type: Number,
      default: 450,
    },
  },
  data() {
    return {
      visible: false,
      scrollPosition: null,
    };
  },
  computed: {
    show: {
      get() {
        return this.visible;
      },
      set() {
        this.onClose();
      },
    },
  },
  watch: {
    visible(value) {
      if (value) {
        this.scrollPosition = window.scrollY;
        document.body.style.top = `-${this.scrollPosition}px`;
        document.body.style.position = 'fixed';
        document.getElementsByTagName('HTML')[0].style.overflow = 'hidden';
        document.body.style.right = '8px';
      } else {
        document.body.removeAttribute('style');
        document.getElementsByTagName('HTML')[0].removeAttribute('style');
        window.scrollTo(0, this.scrollPosition);
      }
    },
  },
  methods: {
    onClose(event) {
      this.$emit('handleClose', event);
    },
  },
};
</script>
