<template>
  <div>
    <div
      :class="`
        card-company size-${size}
        ${inactive ? 'bg-light-grey-1' : `bg-${color} ${boxShadow}`}
      `"
      @mouseenter="isHover = true"
      @mouseleave="isHover = false"
      @click="onClick"
    >
      <div
        :class="`
          text-center has-full-width
          ${inactive ? `text-light-grey`: `text-${color}-invert`}
        `"
      >
        <h1
          class="text-bold text-uppercase mb-14"
        >
          {{ name.substring(0, 2) }}
        </h1>
        <p>
          {{ name }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AvatarCompany',
  props: {
    color: {
      type: String,
      default: 'indigo',
    },

    size: {
      type: String,
      default: 'lg',
    },

    name: {
      type: String,
      default: '',
    },

    inactive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isHover: false,
    };
  },
  computed: {
    boxShadow() {
      return this.isHover && this.size === 'lg' ? `shadow-${this.color}` : '';
    },
  },
  methods: {
    onClick() {
      if (!this.inactive) {
        this.$emit('handleClick');
      }
    },
  },
};
</script>

<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $font-13: 13px

  .card-company
    height: 204px
    width: 204px
    border-radius: 15px
    position: relative
    cursor: pointer
    @include transition(all .3s ease-out)
    &.size-lg
      &:hover
        @include transform(translateY(2px))

    &.size-md
      width: 32px
      height: 32px
      border-radius: 10px
      h1
        font-size: $font-13
        margin: 0
        font-weight: 900
      p
        display: none

    &.size-sm
      width: 32px
      height: 32px
      border-radius: 10px
      h1
        font-size: $font-13
        margin: 0
        font-weight: 900
      p
        display: none
    div
      position: absolute
      top: 50%
      @include transform(translateY(-50%))
</style>
