<template>
  <div>
    <figure
      :class="`avatar avatar-${size} bg-${color} text-${color}-invert text-uppercase text-bold is-pointer`"
      :data-initial="initials"
      @click="onClick"
    >
      <img
        v-if="photo"
        :src="photo"
        :alt="name"
        @error="onImgError"
      >
    </figure>
  </div>
</template>

<script>
export default {
  name: 'AvatarUser',
  props: {
    color: {
      type: String,
      default: 'indigo',
    },

    size: {
      type: String,
      default: 'lg',
    },

    path: {
      type: String,
      default: null,
    },

    name: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      initials: this.name.substring(0, 2),
      photo: null,
    };
  },
  mounted() {
    this.photo = this.path;
  },
  methods: {
    onClick(event) {
      this.$emit('handleClick', event);
    },

    onImgError() {
      this.photo = null;
    },
  },
};
</script>
