// rotate
=rotate($deg)
  @include transform(rotate(#{$deg}deg))
 
// scale
=scale($scale)
  @include transform(scale($scale))

// translate
=translate($x, $y)
  @include transform(translate($x, $y))

// skew
=skew($x, $y)
  @include transform(skew(#{$x}deg, #{$y}deg))

// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "")
  $index: str-index($string, $search)

  @if $index
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)

  @return $string

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg)
  $src: null
  $extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"))
  $formats: (otf: "opentype", ttf: "truetype")

  @each $ext in $exts
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext)
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext)
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma)

  @font-face
    font-family: quote($name)
    font-style: $style
    font-weight: $weight
    src: $src

// =============================================================================
// Transition
// =============================================================================
@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

// =============================================================================
// Transform
// =============================================================================
@mixin transform($args...)
  -webkit-transform: $args
  -moz-transform: $args
  -ms-transform: $args
  -o-transform: $args
  transform: $args

@mixin transform-origin($args)
  moz-transform-origin:     $args
  -o-transform-origin:      $args
  -ms-transform-origin:     $args
  -webkit-transform-origin: $args
  transform-origin:         $args

// =============================================================================
// Keyframes
// =============================================================================
@mixin keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content
  @-moz-keyframes #{$animation-name}
    @content
  @-ms-keyframes #{$animation-name}
    @content
  @-o-keyframes #{$animation-name}
    @content
  @keyframes #{$animation-name}
    @content

@mixin animation($str)
  -webkit-animation: #{$str}
  -moz-animation: #{$str}
  -ms-animation: #{$str}
  -o-animation: #{$str}
  animation: #{$str}

// =============================================================================
// Opacity
// =============================================================================
@mixin opacity($opacity)
  opacity: $opacity
  $opacity-ie: $opacity * 100
  filter: alpha(opacity=$opacity-ie)


