<template>
  <div>
    <svg
      width="24px"
      height="24px"
      viewBox="0 0 24 20"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g
        fill="white"
      >
        <path d="M2.03636364,16.968 C2.09696364,16.872006 2.19392727,16.865994 2.32727273,16.95 C5.35756364,18.690006 8.65454545,19.56 12.2181818,19.56 C14.5939273,19.56 16.9393818,19.122006 19.2545455,18.246 C19.3151455,18.222006 19.4030182,18.186006 19.5181818,18.138 C19.6333273,18.089994 19.7151455,18.053994 19.7636364,18.03 C19.9454545,17.958 20.0878727,17.994 20.1909091,18.138 C20.2939273,18.282 20.2606,18.413994 20.0909091,18.534 C19.8727273,18.690006 19.5939273,18.870006 19.2545455,19.074 C18.2121091,19.686 17.0484727,20.159994 15.7636364,20.496 C14.4787818,20.832006 13.2242364,21 12,21 C10.1090909,21 8.3212,20.672994 6.63636364,20.019 C4.95150909,19.365006 3.44241818,18.444 2.10909091,17.256 C2.03636364,17.196006 2,17.135994 2,17.076 C2,17.04 2.01210909,17.004 2.03636364,16.968 Z M7.50909091,11.838 C7.50909091,11.01 7.71514545,10.302006 8.12727273,9.714 C8.53938182,9.125994 9.10301818,8.682006 9.81818182,8.382 C10.4727273,8.106006 11.2787818,7.908006 12.2363636,7.788 C12.5636364,7.752 13.0969636,7.703994 13.8363636,7.644 L13.8363636,7.338 C13.8363636,6.569994 13.7515091,6.054006 13.5818182,5.79 C13.3272727,5.43 12.9272727,5.25 12.3818182,5.25 L12.2363636,5.25 C11.8363636,5.286 11.4909091,5.412 11.2,5.628 C10.9090909,5.844 10.7212,6.144006 10.6363636,6.528 C10.5878727,6.767994 10.4666545,6.906 10.2727273,6.942 L8.18181818,6.69 C7.97574545,6.641994 7.87272727,6.533994 7.87272727,6.366 C7.87272727,6.33 7.87878182,6.288006 7.89090909,6.24 C8.09696364,5.172006 8.60301818,4.380006 9.40909091,3.864 C10.2151455,3.347994 11.1575636,3.059994 12.2363636,3 L12.6909091,3 C14.0727273,3 15.1515091,3.354006 15.9272727,4.062 C16.0489511,4.18254675 16.1613838,4.31190514 16.2636364,4.449 C16.3666545,4.587006 16.4484727,4.71 16.5090909,4.818 C16.5696909,4.926 16.6242364,5.082006 16.6727273,5.286 C16.7212,5.489994 16.7575636,5.631006 16.7818182,5.709 C16.8060545,5.786994 16.8242364,5.955006 16.8363636,6.213 C16.8484727,6.470994 16.8545455,6.623994 16.8545455,6.672 L16.8545455,11.028 C16.8545455,11.339994 16.9,11.625006 16.9909091,11.883 C17.0818182,12.140994 17.1696909,12.327006 17.2545455,12.441 C17.3393818,12.554994 17.4787818,12.738 17.6727273,12.99 C17.7454545,13.098 17.7818182,13.193994 17.7818182,13.278 C17.7818182,13.373994 17.7333273,13.458 17.6363636,13.53 C16.6302909,14.394 16.0848364,14.862 16,14.934 C15.8545455,15.042 15.6787818,15.054006 15.4727273,14.97 C15.3030182,14.826 15.1545455,14.687994 15.0272727,14.556 C14.9,14.424006 14.8090909,14.327994 14.7545455,14.268 C14.7,14.208006 14.6121091,14.091006 14.4909091,13.917 C14.3696909,13.742994 14.2848364,13.625994 14.2363636,13.566 C13.5575636,14.298006 12.8909091,14.754 12.2363636,14.934 C11.8242364,15.054006 11.3151455,15.114 10.7090909,15.114 C9.77574545,15.114 9.00909091,14.829006 8.40909091,14.259 C7.80909091,13.688994 7.50909091,12.882 7.50909091,11.838 Z M10.6363636,11.478 C10.6363636,11.946 10.7545455,12.320994 10.9909091,12.603 C11.2272727,12.885006 11.5454545,13.026 11.9454545,13.026 C11.9818182,13.026 12.0333273,13.020006 12.1,13.008 C12.1666545,12.995994 12.2121091,12.99 12.2363636,12.99 C12.7454545,12.858006 13.1393818,12.534006 13.4181818,12.018 C13.5515091,11.789994 13.6515091,11.541 13.7181818,11.271 C13.7848364,11.001 13.8212,10.781994 13.8272727,10.614 C13.8333273,10.446006 13.8363636,10.169994 13.8363636,9.786 L13.8363636,9.336 C13.1333273,9.336 12.6,9.384006 12.2363636,9.48 C11.1696909,9.780006 10.6363636,10.446006 10.6363636,11.478 Z M18.2727273,17.274 C18.2969636,17.225994 18.3333273,17.178006 18.3818182,17.13 C18.6848364,16.926006 18.9757455,16.788 19.2545455,16.716 C19.7151455,16.595994 20.1636364,16.530006 20.6,16.518 C20.7212,16.505994 20.8363636,16.512006 20.9454545,16.536 C21.4909091,16.584006 21.8181818,16.674006 21.9272727,16.806 C21.9757455,16.878 22,16.986 22,17.13 L22,17.256 C22,17.675994 21.8848364,18.170994 21.6545455,18.741 C21.4242364,19.311006 21.1030182,19.770006 20.6909091,20.118 C20.6302909,20.166006 20.5757455,20.19 20.5272727,20.19 C20.5030182,20.19 20.4787818,20.184006 20.4545455,20.172 C20.3818182,20.136 20.3636364,20.069994 20.4,19.974 C20.8484727,18.93 21.0727273,18.204006 21.0727273,17.796 C21.0727273,17.664006 21.0484727,17.567994 21,17.508 C20.8787818,17.364 20.5393818,17.292 19.9818182,17.292 C19.7757455,17.292 19.5333273,17.304006 19.2545455,17.328 C18.9515091,17.364 18.6727273,17.4 18.4181818,17.436 C18.3454545,17.436 18.2969636,17.423994 18.2727273,17.4 C18.2484727,17.376006 18.2424182,17.351994 18.2545455,17.328 C18.2545455,17.315994 18.2606,17.297994 18.2727273,17.274 Z" />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'AmazonAds',
};
</script>
