<template>
  <div>
    <svg
      width="24px"
      height="24px"
      viewBox="0 0 24 24"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g
        fill="#757575"
      >
        <path
          id="Rectangle"
          d="M58,-20.1715729 L58,23 C58,24.1045695 57.1045695,25 56,25 L12.8284271,25 C11.7238576,25 10.8284271,24.1045695 10.8284271,23 C10.8284271,22.469567 11.0391408,21.9608592 11.4142136,21.5857864 L54.5857864,-21.5857864 C55.366835,-22.366835 56.633165,-22.366835 57.4142136,-21.5857864 C57.7892863,-21.2107137 58,-20.7020059 58,-20.1715729 Z"
          fill="#D8D8D8"
          transform="translate(33.000000, 0.000000) rotate(45.000000) translate(-33.000000, -0.000000) "
        />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'ArroSelect',
};
</script>
