<template>
  <div>
    <svg
      width="24px"
      height="24px"
      viewBox="0 0 24 21"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g
        fill="white"
      >
        <polygon points="6 3 9.60302775 4.26 9.60302775 16.9182353 14.6684609 13.9905882 12.1781329 12.8205882 10.6097561 8.91882353 18.6 11.7247059 18.6 15.8011765 9.60302775 21 6 19.0041176" />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'BingAds',
};
</script>
