<template>
  <div>
    <svg
      width="24px"
      height="24px"
      viewBox="0 0 24 20"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g fill="white">
        <path d="M13.0674509,20.9999131 L13.0674509,12.7892449 L15.8234629,12.7892449 L16.2360781,9.58941299 L13.0674509,9.58941299 L13.0674509,7.54641595 C13.0674509,6.62000927 13.3247378,5.98861332 14.6533291,5.98861332 L16.3477719,5.98783103 L16.3477719,3.12594889 C16.0545865,3.08709509 15.0488208,3 13.8786869,3 C11.4356783,3 9.7631396,4.49113403 9.7631396,7.22967491 L9.7631396,9.58949991 L7,9.58949991 L7,12.7893319 L9.76305267,12.7893319 L9.76305267,21 L13.0674509,20.9999131 Z" />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'FacebookAds',
};
</script>
