<template>
  <div>
    <svg
      width="22px"
      height="22px"
      viewBox="0 0 24 22"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g
        transform="translate(2.000000, 3.000000)"
        fill="white"
      >
        <path
          id="↳-🎨Color"
          d="M6.83299044,2.14327124 C7.10559261,1.41162385 7.6433922,0.772823341 8.398685,0.379813859 C10.0208233,-0.464250468 12.0305086,0.14566446 12.8881815,1.74206448 L19.5320804,13.0649179 L19.5320804,13.0576761 C19.5467974,13.0826199 19.5615144,13.1075637 19.5762314,13.133312 C20.4723319,14.7087915 19.9008225,16.701073 18.2999422,17.5829553 C16.6990618,18.4648375 14.6746594,17.9023962 13.7785588,16.3269167 L9.98473112,9.86129229 L6.15771849,16.3839009 L6.14707988,16.3778587 C5.56536296,17.3171032 4.51436873,17.9442724 3.31444759,17.9442724 C1.48392873,17.9442724 1.36779477e-13,16.484693 1.36779477e-13,14.6842105 C1.36779477e-13,14.1164684 0.147549423,13.5826228 0.406988666,13.1177482 L0.396600567,13.1118482 L6.83299044,2.14327124 Z"
        />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'GoogleAds',
};
</script>
