<template>
  <div>
    <svg
      width="18px"
      height="18px"
      viewBox="0 0 24 20"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      style="margin-top: 2px"
    >
      <g
        fill="white"
      >
        <g
          id="SBE_settings"
          transform="translate(-638.000000, -1307.000000)"
        >
          <g
            id="First-row-add-ons"
            transform="translate(242.000000, 1264.000000)"
          >
            <g
              id="Shopping"
              transform="translate(353.000000, 0.000000)"
            >
              <g
                id="Add-on-image"
                transform="translate(20.000000, 20.000000)"
              >
                <g
                  id="Element/Element/Icon/Github"
                  transform="translate(20.000000, 20.000000)"
                >
                  <path d="M25.3228844,17.687903 L17.7011871,25.3096068 C17.1031754,25.9082842 16.2916977,26.2446737 15.4455105,26.2446737 C14.5993234,26.2446737 13.7878457,25.9082842 13.1906896,25.3104625 L4.06170865,16.1921088 C3.86213747,15.99277 3.75,15.722269 3.75,15.440197 L3.75,4.81274518 C3.75,4.22580722 4.22580722,3.75 4.81274516,3.75 L15.4401968,3.75 C15.7220544,3.75 15.9923677,3.86196747 16.1916711,4.06127086 L25.3228844,13.1924909 C26.5590385,14.4360222 26.5590385,16.4443717 25.3228844,17.687903 Z M9.375,7.81654263 L9.375,7.80845737 C9.375,6.94774513 8.67544492,6.25 7.8125,6.25 C6.94955508,6.25 6.25,6.94774513 6.25,7.80845737 L6.25,7.81654263 C6.25,8.67725487 6.94955508,9.375 7.8125,9.375 C8.67544492,9.375 9.375,8.67725487 9.375,7.81654263 Z" />
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'GoogleShopping',
};
</script>
