<template>
  <div>
    <ul class="nav">
      <li
        v-for="option in options"
        :key="option.value"
        @click="onClick(option)"
      >
        <button-item
          :active="option.active"
        >
          {{ option.label }}
        </button-item>
      </li>
    </ul>
  </div>
</template>

<script>
import ButtonItem from '../button/Item';

export default {
  name: 'NavVertical',
  components: {
    ButtonItem,
  },
  props: {
    options: {
      type: [Object, Array],
      default() {
        return {};
      },
    },
  },
  methods: {
    onClick(option) {
      this.options.forEach((option) => {
        option.active = false;
      });
      const foundIndex = this.options.findIndex(item => item.value === option.value);
      this.options[foundIndex].active = true;
      this.$emit('handleClick', option);
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  .nav
    border: 0
    box-shadow: none
    background: none
    li
      margin-bottom: 16px
      &:last-child
        margin-bottom: 0
</style>
