<template>
  <div>
    <div
      class="parallax"
      @mouseenter="isHover = true"
      @mouseleave="isHover = false"
    >
      <div
        class="parallax-top-left"
        tabindex="1"
      />
      <div
        class="parallax-top-right"
        tabindex="2"
      />
      <div
        class="parallax-bottom-left"
        tabindex="3"
      />
      <div
        class="parallax-bottom-right"
        tabindex="4"
      />
      <div :class="`parallax-content ${boxShadow}`">
        <div
          :class="`payment-card text-${color}-invert bg-${color}`"
        >
          <div class="payment-card__brand text-bold h6 text-italic">
            {{ brand }}
          </div>
          <div class="has-margin-top">
            <span
              v-for="index in 3"
              :key="index"
              class="payment-card__number"
            >
              &#8226;&#8226;&#8226;&#8226;
            </span>
            <span
              class="payment-card__number payment-card__number_digits"
            >
              {{ number }}
            </span>
          </div>
          <div class="payment-card__text has-margin-top">
            <div>
              <div class="text-uppercase">
                Card holder
              </div>
              <p class="payment-card__name has-ellipsis">
                {{ name }}
              </p>
            </div>
            <div>
              <div class="text-uppercase">
                Exp. date
              </div>
              <p>{{ expiryDate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PaymentCard',
  props: {
    brand: {
      type: String,
      default: null,
      required: true,
    },
    name: {
      type: String,
      default: '',
      required: true,
    },
    number: {
      type: String,
      default: '',
      required: true,
    },
    expiryDate: {
      type: String,
      default: '',
      required: true,
    },
    color: {
      type: String,
      default: 'indigo',
    },
  },
  data() {
    return {
      isHover: false,
    };
  },
  computed: {
    boxShadow() {
      return this.isHover ? `shadow-${this.color}` : '';
    },
  },
};
</script>
<style lang="sass" scoped>
  @import '../../assets/styles/variables.sass'
  @import '../../assets/styles/mixins.sass'

  $padding: 40px
  .parallax-content
    border-radius: 15px
    box-shadow: none
    overflow: hidden

  .payment-card
    padding: $padding
    border-radius: 15px
    &.bg-white
      border: 1px solid $color-grey

    .has-margin-top
      margin-top: 24px

    .has-ellipsis
      white-space: nowrap
      text-overflow: ellipsis
      max-width: 175px
      overflow: hidden

    &__number
      letter-spacing: 3px
      font-size: 18px
      padding-right: 4px
      font-weight: bold

    &__text
      display: flex
      justify-content: space-between
      opacity: 0.9
      font-size: 9px
      letter-spacing: 0.9px
      line-height: 11px
      p
        font-size: 12px
        line-height: 15px
</style>
